In [1]:
cd /Users/xl/Downloads/借啊/评分卡/数据留存

/Users/xl/Downloads/借啊/评分卡/数据留存

In [2]:
from pymongo import MongoClient
import pymongo
import pandas as pd
from datetime import datetime

In [3]:
#listcall['date'] = pd.to_datetime(listcall['date'],format = '%Y/%m/%d %H:%M:%S')

In [4]:
#建立MongoDB数据库连接
client = MongoClient('dds-k1a855c22baf8ec41111-pub.mongodb.ap-southeast-5.rds.aliyuncs.com', 3717)
db_auth = client.admin
#账号和密码
db_auth.authenticate('readonly','9skLyjBrvnqmCltkeqrazfqfoxc20')
# 链接数据库
db = client.uangtech_loan

In [5]:
db.list_collection_names()

['t_user_msg_list',
 'system.profile',
 't_user_call_list',
 't_user_app_list',
 't_user_phone_list',
 't_sl_request',
 't_advanceai_record',
 't_third_channel_request_record']

In [7]:
# df_call_list = pd.DataFrame(list(db.t_user_call_list.find({'create_time':{
#     "$gte": datetime(2018, 10, 25),"$lte": datetime(2018, 11, 4)}},
#                              {'_id':0,'phone':1,'uid':1,'type':1,'date':1}
#                              ,no_cursor_timeout = True)))

# df_call_list.head()

In [8]:
df_msg = pd.DataFrame(list(db.t_user_msg_list.find({'create_time':
    {"$lte":datetime(2018,11,6),"$gte":datetime(2018,10,27)}},
    {'_id':0,"uid":1,"status":1,"date":1,"phone":1},no_cursor_timeout = True)))

In [9]:
df_msg.shape

(7896536, 3)

In [10]:
df_msg.head()

                  date  status                  uid
0  2018-10-27 06:59:22       0  1050212901521514498
1  2018-10-26 16:00:29       0  1050212901521514498
2  2018-10-26 14:05:32       0  1050212901521514498
3  2018-10-26 13:08:08       0  1050212901521514498
4  2018-10-26 10:39:14       0  1050212901521514498

In [57]:
df_phone_list = pd.DataFrame(list(db.t_user_phone_list.find({'create_time':
    {"$lte":datetime(2018,11,6),"$gte":datetime(2018,10,27)}},
    {'_id':0,"uid":1,"status":1,"date":1,"phone":1},no_cursor_timeout = True)))

In [61]:
df_phone_list.to_csv('df_phone_1027_1106.csv')

In [4]:
df_app = pd.DataFrame(list(db.t_user_app_list.find({'create_time':{
    "$gte": datetime(2018, 10, 27),"$lte": datetime(2018, 11, 6)}},
                             {'_id':0,'app_name':1,'uid':1}
                             ,no_cursor_timeout = True)))

In [5]:
df_app.to_csv('app_list_1027_1106.csv')

In [24]:
df_app.shape

(1075423, 2)

In [23]:
df_app.groupby('uid').count().reset_index().sort_values(by = 'app_name', ascending = False )

                       uid  app_name
7130   1039808841106628609       838
1214   1019952970558156802       505
16475  1056057053342040065       467
17150  1056897664445616129       440
17026  1056870877733289986       433
18362  1057178455109046273       423
8052   1045874184212578305       417
15355  1055372081442074625       360
17278  1056929552489480194       355
23198  1058367222793007105       339
2844   1028230569562599425       317
22315  1058193193871880194       308
3572   1030428902238912513       308
17324  1056944344662577153       289
456    1016869924737343489       288
3313   1029575121087365121       283
24197  1058637080205733890       281
14478  1054353291224846337       280
7120   1039792618570555393       274
21511  1057900534188441601       273
411    1016658813886881793       269
8500   1049513507952783361       267
2605   1027747705578450946       259
11630  1052416854716301313       257
18241  1057159582851235842       249
62     1015383492411346945       247
6949   1039412563877076994       244
3469   1030038460674097154       242
6040   1036884496281534466       242
13263  1053127202410369025       240
...                    ...       ...
3250   1029314506061791234         3
10861  1052068226902507522         2
19290  1057468779979571202         2
19761  1057522558334631937         2
21237  1057860029362245633         2
789    1018721960692989953         2
12717  1052849730246709249         2
7792   1043761062144262146         2
13634  1053257653955366913         2
24190  1058636179554447361         2
16981  1056823788911427586         2
16874  1056588492390866945         2
23730  1058569914798321665         2
13711  1053307626700967937         2
2833   1028210325062656002         2
17928  1057118469239046145         2
8051   1045872973883244545         2
3949   1031785740364619777         2
18143  1057144534480752642         2
8584   1049577315173466114         2
8327   1047871065893138434         2
1161   1019893095723511810         1
22553  1058219043489476609         1
177    1015828085141491713         1
6814   1039080361758855170         1
18710  1057239677179301889         1
15536  1055506417240223745         1
957    1019732495009591298         1
6891   1039304365245505538         1
23069  1058330982702018561         1

[25716 rows x 2 columns]

In [ ]:
'basicInfo.name',
'basicInfo.idNumber',
'basicInfo.age',
'basicInfo.city',
'basicInfo.education',
'basicInfo.marriageStatus',
'basicInfo.homeAddress',
'basicInfo.sex',
'basicInfo.phoneNumber',